/chapter-3/exercise-2.1/log
/chapter-3/exercise-2.1/ping
/chapter-3/exercise-2.1/log-app/log
/chapter-3/exercise-2.1/ping-app/ping
/chapter-3/exercise-2.2/todo-app/main
/chapter-3/exercise-2.2/todo-server/main
